body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
}

no-app .teams {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

no-team {
    display: flex;
    flex-direction: column;
    align-items: center;
}

no-team img {
    width: 200px;
}

no-countdown {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}